.footer {
    width: 100vw;
    padding-top: 165px;
}

.footer__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-contacts__logo {
    width: 212px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
}

.footer-contacts__logo p {
    font-weight: 700;
}

.footer-contacts__logo img {
    height: 35px;
    object-fit: contain;
}

.footer-contacts__text2 {
    margin: 20px 0 36px 0;
    font-weight: 400;
}

.footer-contacts__text3 {
    margin-bottom: 65px;
    font-weight: 400;
    font-size: 0.75rem;
}

.footer__social {
    grid-area: auto / 4;
    font-weight: 700;
}

.footer-social__btn-wrapper {
    display: inline-flex;
    margin-top: 29px;
}

.footer-social__btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
    border-radius: 50%;
    opacity: 0.1;
    background: #212353;
}

.footer-social__btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.4s;
}

@media (max-width: 767px) {
    .footer__wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .footer__contacts {
        margin-top: 8%;
        padding-left: 5%;
        text-align: center;
    }

    .footer-contacts__logo {
        width: 600px;
        margin-bottom: 20px;
    }

    .footer-contacts__logo p {
        font-size: 60px;
    }

    .footer-contacts__logo img {
        height: 70px;
        object-fit: contain;
    }

    .footer__social {
        padding: 0 15%;
    }

    .footer-social__btn {
        width: 180px;
        height: 180px;
        margin: 0 50px;
    }

    .footer-social__btn img {
        width: 90px;
        height: 90px;
        object-fit: contain;
    }

    .footer__social p {
        display: none;
    }
}