.block2 {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 16px;
    border-radius: 50px;
    background: rgba(240, 99, 184, 0.15);
}

.block2__text {
    padding: 0 65px;
}


.block2__text p {
    margin-top: 40px;
}

@media (max-width: 767px) {
    .block2 {
        flex-direction: column-reverse;
        padding-top: 10%;
    }

    .block2__text p {
        font-size: 1.5rem;
    }
}