:root {
    --text-color: #4B5D68;
    --headlines-color: #212353;
    --purple: #9C69E2;
    --pink: #F063B8;
    --white: #fff;
}

html {
    font-family: 'Ubuntu', 'Helvetica', 'Avenir', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
}

body {
    background: linear-gradient(180deg, #f6fafd 0%, #fff 60%) repeat-x;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}


h1, h2, h3 {
    font-weight: 700;
    line-height: 130%;
    color: var(--headlines-color);
}

h1 {
    font-size: 5rem;
    line-height: 110%;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 130%;
}

p {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 160%;
    color: var(--text-color);
}

@media (min-width: 1250px) {
    .global-container {
        overflow-x: hidden;
    }
}

@media (min-width: 767px) and (max-width: 1249px) {
    .container {
        /*width: 700px;*/
        overflow-x: hidden;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 30px;
    }

    body {
        font-size: 2rem;
    }
}
